In [2]:
from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen
from bs4 import BeautifulSoup as soup
html_page = requests.get('https://en.wikipedia.org/wiki/2010s_in_film') # Make a get request to retrieve the page
soup = BeautifulSoup(html_page.content, 'html.parser') # Pass the page contents to beautiful soup for parsing
import pandas as pd

In [10]:
df=pd.read_html('https://en.wikipedia.org/wiki/Film_industry#Statistics')
df[2] #used to make graph 1

,Rank,Country,Box office revenue (billion US$),Year,Box office fromnational films[132]
0,NaN,World,41.70,2018[1],NaN
1,1.0,United States,11.08,2018[133],88.8% (2015)
2,2.0,China,9.15,2018[133],62% (2018)[134]
3,3.0,India,2.44,2018[135],85% (2015)
4,4.0,Japan,2.39,2019[130],54.4% (2019)[130]
5,5.0,United Kingdom,1.72,2018[133],44.3% (2017)
6,6.0,South Korea,1.60,2017[136],52.2% (2015)
7,7.0,France,1.50,2018[133],36.2% (2017)
8,8.0,Germany,1.11,2018[133],26.3% (2017)[137]
9,9.0,Russia,1.00,2017[136],17.4% (2015)
10,10.0,Australia,0.95,2018[133],4.1% (2017)
11,11.0,Brazil,0.90,2017[136],8.9% (2017)
12,12.0,Mexico,0.87,2018[133],6.6% (2017)
13,13.0,Canada,0.76,2017[138],3.2% (2017)
14,14.0,Spain,0.70,2017[136],17.4% (2017)
15,15.0,Italy,0.70,2017[136],17.6% (2017)

In [83]:
df=pd.read_html('https://en.wikipedia.org/wiki/Film_industry#Statistics')
df[1]

    Rank         Country  Films       Year
0      1           India   1813    2018[4]
1      2         Nigeria    997       2011
2      3           China    874       2017
3      4           Japan    689  2019[130]
4      5   United States    660       2017
5      6     South Korea    339       2016
6      7          France    300       2017
7      8  United Kingdom    285       2017
8      9           Spain    241       2017
9     10         Germany    233       2017
10    11       Argentina    220       2015
11    12          Mexico    176  2017[131]
12    13           Italy    173       2017
13    14          Brazil    160       2017
14    15          Turkey    148       2017

In [3]:
url = 'https://www.the-numbers.com/movie/budgets'
html_page = requests.get(url) 
soup = BeautifulSoup(html_page.content, 'html.parser') #this data was not used.

for record in soup.findAll('td'):
    print(record.text)

1
Apr 26, 2019
Avengers: Endgame
$400,000,000
$858,373,000
$2,797,800,564
2
May 20, 2011
Pirates of the Caribbean: On Stranger Tides
$379,000,000
$241,063,875
$1,045,663,875
3
May 1, 2015
Avengers: Age of Ultron
$365,000,000
$459,005,868
$1,403,013,963
4
Dec 18, 2015
Star Wars Ep. VII: The Force Awakens
$306,000,000
$936,662,225
$2,068,223,624
5
May 24, 2007
Pirates of the Caribbean: At Worldâs End
$300,000,000
$309,420,425
$963,420,425
6
Nov 6, 2015
Spectre
$300,000,000
$200,074,175
$879,620,923
7
Apr 27, 2018
Avengers: Infinity War
$300,000,000
$678,815,482
$2,048,359,754
8
Nov 17, 2017
Justice League
$300,000,000
$229,024,295
$655,945,209
9
Dec 20, 2019
Star Wars: The Rise of Skywalker
$275,000,000
$515,202,542
$1,074,141,030
10
May 25, 2018
Solo: A Star Wars Story
$275,000,000
$213,767,512
$393,151,347
11
Mar 9, 2012
John Carter
$263,700,000
$73,058,679
$282,778,100
12
Mar 25, 2016
Batman v Superman: Dawn of Justice
$263,000,000
$330,360,194
$873,634,919
13
Nov 24, 2010
Tangled
$260,000,000
$200,821,936
$585,727,091
14
Jul 19, 2019
The Lion King
$260,000,000
$543,638,043
$1,656,943,394
15
May 4, 2007
Spider-Man 3
$258,000,000
$336,530,303
$894,860,230
16
Jul 15, 2009
Harry Potter and the Half-Blood Prince
$250,000,000
$302,089,278
$935,213,767
17
Dec 13, 2013
The Hobbit: The Desolation of Smaug
$250,000,000
$258,241,522
$960,241,522
18
Dec 17, 2014
The Hobbit: The Battle of the Five Armies
$250,000,000
$255,119,788
$945,577,621
19
May 6, 2016
Captain America: Civil War
$250,000,000
$408,084,349
$1,153,284,349
20
Apr 14, 2017
The Fate of the Furious
$250,000,000
$225,764,765
$1,238,764,765
1
Feb 26, 1993
El Mariachi
$7,000
$2,040,920
$2,041,928
2
Aug 1, 1991
Slacker
$23,000
$1,227,508
$1,227,508
3
Jun 30, 1972
Deep Throat
$25,000
$45,000,000
$45,000,000
4
Aug 1, 1997
In the Company of Men
$25,000
$2,883,661
$2,883,661
5
Oct 19, 1994
Clerks
$27,000
$3,073,428
$3,894,240
6
Aug 9, 1995
The Brothers McMullen
$50,000
$10,426,506
$10,426,506
7
Mar 16, 2001
Gabriela
$50,000
$2,335,352
$2,335,352
8
May 7, 2004
Super Size Me
$65,000
$11,529,368
$22,233,808
9
Jul 10, 1998
Pi
$68,000
$3,221,152
$4,678,513
10
Aug 30, 1972
The Last House on the Left
$87,000
$3,100,000
$3,100,000
11
Jan 1, 1977
Eraserhead
$100,000
$7,000,000
$7,014,590
12
Sep 29, 2006
Facing the Giants
$100,000
$10,178,331
$10,243,159
13
Mar 1, 1987
Hollywood Shuffle
$100,000
$5,228,617
$5,228,617
14
Oct 9, 1998
The Mighty
$100,000
$2,652,246
$6,121,582
15
Sep 17, 1920
Over the Hill to the Poorhouse
$100,000
$3,000,000
$3,000,000
16
Jul 10, 2015
The Gallows
$100,000
$22,764,410
$41,656,474
17
Jul 7, 2017
A Ghost Story
$100,000
$1,594,798
$2,769,782
18
Feb 8, 1915
The Birth of a Nation
$110,000
$10,000,000
$11,000,000
19
Oct 1, 1968
Night of the Living Dead
$114,000
$12,087,064
$30,087,064
20
Jun 15, 2012
Your Sister's Sister
$120,000
$1,597,486
$3,090,593
1
Dec 18, 2009
Avatar
$1,851,080,434
$328,262,000
$1,522,818,434
2
Apr 26, 2019
Avengers: Endgame
$1,504,553,361
$475,560,000
$1,028,993,361
3
Dec 18, 2015
Star Wars Ep. VII: The Force Awakens
$1,224,795,626
$381,704,000
$843,091,626
4
Nov 22, 2013
Frozen
$1,045,308,739
$245,904,000
$799,404,739
5
Nov 18, 2005
Harry Potter and the Goblet of Fire
$997,427,805
$208,064,000
$789,363,805
6
Apr 27, 2018
Avengers: Infinity War
$1,126,740,972
$368,812,000
$757,928,972
7
May 4, 2012
The Avengers
$1,010,005,798
$300,290,000
$709,715,798
8
Jun 12, 2015
Jurassic World
$973,349,066
$287,756,000
$685,593,066
9
Jul 15, 2011
Harry Potter and the Deathly Hallows: Part II
$833,374,130
$177,306,000
$656,068,130
10
Jul 3, 2013
Despicable Me 2
$737,030,423
$143,056,000
$593,974,423
11
Apr 3, 2015
Furious 7
$831,598,418
$245,576,000
$586,022,418
12
Jul 7, 2006
Pirates of the Caribbean: Dead Manâs Chest
$859,111,298
$293,790,000
$565,321,298
13
Dec 9, 2005
The Chronicles of Narnia: The Lion, the Witch and the Wardrobe
$808,489,441
$247,308,000
$561,181,441
14
Jul 10, 2015
Minions
$699,599,624
$141,424,000
$558,175,624
15
Jul 18, 2008
The Dark Knight
$819,289,298
$263,340,000
$555,949,298
16
Jul 19, 2019
The Lion King
$878,288,731
$341,924,000
$536,364,731
17
Jul 11, 2007
Harry Potter and the Order of the Phoenix
$731,015,400
$202,594,000
$528,421,400
18
Jun 18, 2010
Toy Story 3
$786,601,274
$267,398,000
$519,203,274
19
Dec 15, 2017
Star Wars Ep. VIII: The Last Jedi
$761,587,841
$256,370,000
$505,217,841
20
Feb 16, 2018
Black Panther
$772,950,456
$280,472,000
$492,478,456
1
Jun 30, 1972
Deep Throat
$22,535,167
$25,000
90,041%
2
Sep 29, 2006
Facing the Giants
$38,551,255
$100,000
38,451%
3
Sep 25, 2009
Paranormal Activity
$89,375,218
$450,000
19,761%
4
Sep 26, 2008
Fireproof
$57,096,178
$500,000
11,319%
5
Oct 18, 1974
The Texas Chainsaw Massacre
$14,167,708
$140,000
10,020%
6
Jul 10, 2015
The Gallows
$6,904,378
$100,000
6,804%
7
Jan 1, 1977
Eraserhead
$4,651,725
$100,000
4,552%
8
May 24, 2006
An Inconvenient Truth
$46,416,400
$1,000,000
4,542%
9
Nov 19, 1925
The Big Parade
$11,023,474
$245,000
4,399%
10
Oct 6, 2009
A Charlie Brown Christmas
$5,910,040
$150,000
3,840%
11
Jan 6, 2012
The Devil Inside
$37,422,146
$1,000,000
3,642%
12
Nov 16, 1942
Cat People
$4,596,008
$134,000
3,330%
13
Oct 7, 2005
Waiting...
$36,128,709
$1,125,000
3,111%
14
Mar 21, 2014
Godâs Not Dead
$36,680,995
$1,150,000
3,090%
15
May 23, 2006
High School Musical
$123,587,394
$4,200,000
2,843%
16
May 25, 1977
Star Wars Ep. IV: A New Hope
$292,946,428
$11,000,000
2,563%
17
Oct 20, 2010
Paranormal Activity 2
$77,221,343
$3,000,000
2,474%
18
Apr 1, 2011
Insidious
$35,196,552
$1,500,000
2,246%
19
Aug 24, 2018
Searching
$19,956,124
$880,000
2,168%
20
Jan 20, 2017
Split
$108,142,576
$5,000,000
2,063%
1
Mar 11, 2011
Mars Needs Moms
$26,797,307
$170,166,000
-$143,368,693
2
May 12, 2017
King Arthur: Legend of the Sword
$85,032,103
$199,580,000
-$114,547,897
3
Mar 9, 2012
John Carter
$182,533,573
$295,824,000
-$113,290,427
4
Sep 30, 2016
Deepwater Horizon
$76,689,840
$189,348,000
-$112,658,160
5
Jan 13, 2017
Monster Trucks
$40,015,665
$149,450,000
-$109,434,335
6
Dec 17, 2010
How Do You Know?
$35,567,079
$140,454,000
-$104,886,921
7
Mar 1, 2013
Jack the Giant Slayer
$125,591,509
$228,504,000
-$102,912,491
8
Dec 25, 2013
47 Ronin
$93,802,704
$189,988,000
-$96,185,296
9
Feb 6, 2015
Jupiter Ascending
$110,741,238
$206,582,000
-$95,840,762
10
Apr 21, 2017
The Promise
$6,225,556
$99,886,000
-$93,660,444
11
Jul 19, 2013
R.I.P.D.
$55,552,293
$147,884,000
-$92,331,707
12
Nov 23, 2011
Hugo
$125,011,202
$215,796,000
-$90,784,798
13
May 22, 2015
Tomorrowland
$115,273,314
$205,644,000
-$90,370,686
14
Jun 22, 2007
Evan Almighty
$125,422,170
$212,964,000
-$87,541,830
15
Oct 9, 2015
Pan
$88,398,355
$174,726,000
-$86,327,645
16
Jul 21, 2017
Valerian and the City of a Thousand Planets
$119,027,044
$202,258,000
-$83,230,956
17
Jun 7, 2019
Dark Phoenix
$143,447,742
$223,688,000
-$80,240,258
18
May 9, 2008
Speed Racer
$69,527,807
$149,420,000
-$79,892,193
19
Feb 12, 2010
The Wolfman
$98,458,095
$174,496,000
-$76,037,905
20
May 12, 2006
Poseidon
$118,370,517
$194,338,000
-$75,967,483

In [82]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_horror_films_of_1990')
#not used

In [80]:
df1=pd.read_html('https://en.wikipedia.org/wiki/List_of_horror_films_of_1991')
#not used

In [81]:
df2=pd.read_html('https://en.wikipedia.org/wiki/List_of_horror_films_of_1992')
#not used

In [79]:
df3=pd.read_html('https://en.wikipedia.org/wiki/List_of_horror_films_of_1993')
#not used

In [ ]:
df4=pd.read_html('https://en.wikipedia.org/wiki/List_of_horror_films_of_1994')
#not used

In [ ]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_horror_films_of_1995')
#not used

In [ ]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_horror_films_of_1996')
#not used

In [ ]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_horror_films_of_1997')
#not used

In [ ]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_horror_films_of_1998')
#not used

In [ ]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_horror_films_of_1999')
#not used

In [ ]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_horror_films_of_2000')
#not used

In [ ]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_horror_films_of_2001')
#not used

In [ ]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_horror_films_of_2002')
#not used

In [ ]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_horror_films_of_2003')
#not used

In [ ]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_horror_films_of_2004')
#not used

In [ ]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_horror_films_of_2005')
#not used

In [ ]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_horror_films_of_2006')
#not used

In [ ]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_horror_films_of_2007')
#not used

In [ ]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_horror_films_of_2008')
#not used

In [ ]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_horror_films_of_2009')
#not used

In [ ]:
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_horror_films_of_2010')
#not used

In [25]:
import requests
import json
import numpy as np
import pandas as pd